<div class="flex flex-row justify-between w-full p-5 bg-white">
  <div class="text-left w-full">
    <h3 class="custome-font text-lg">Pokemones</h3>
  </div>
  <div class="text-right w-full">
    <div class="text-left w-full flex flex-row space-x-3">
      <div>
        <h3 class="custome-font text-lg">Favoritos {{favoritesSize}}</h3>
      </div>
      <div>
        <ng-container>
          <button
            [type]="'button'"
            [matTooltip]="'Añadir'"
            mat-mini-fab
            [disabled]="favoritesSize<=0"
            (click)="saveFavorites()"
            [ngClass]="'cursor-pointer mat-focus-indicator bg-green-500 mat-icon-button mat-button-base'"
          >
            <mat-icon
              [class]="'sm:icon-size-6 icon-size-4'"
            >add
            </mat-icon>
          </button>
        </ng-container>
      </div>

    </div>
  </div>
</div>
<ng-container>
  <app-pokemon-table-component
    (size)="getFavoritezSize($event)"
    (pokemonsToSave)="getPokemonsToSave($event)"
  >

  </app-pokemon-table-component>

</ng-container>
